<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LogosKlotho.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
<userSettings>
        <LogosKlotho.Properties.Settings>
                <setting name="font_name" serializeAs="String">
                        <value>Consolas</value>
                </setting>
                <setting name="font_size" serializeAs="String">
                        <value>10</value>
                </setting>
                <setting name="font_style" serializeAs="String">
                        <value>normal</value>
                </setting>
                <setting name="font_weight" serializeAs="String">
                        <value>normal</value>
                </setting>
                <setting name="show_statusbar" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="show_linenumber" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="enable_autocomplete" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="enable_autoindent" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="enable_wordwrap" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="newline" serializeAs="String">
                        <value>↓</value>
                </setting>
                <setting name="tab" serializeAs="String">
                        <value>»</value>
                </setting>
                <setting name="space" serializeAs="String">
                        <value>·</value>
                </setting>
                <setting name="space_jpn" serializeAs="String">
                        <value>@</value>
                </setting>
                <setting name="show_newline" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="show_tab" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="show_space" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="show_space_jpn" serializeAs="String">
                        <value>False</value>
                </setting>
        </LogosKlotho.Properties.Settings>
    </userSettings>
</configuration>
